* {
    box-sizing: border-box;
}

.wrapper{
    overflow: hidden;
    width: 100vw;
    max-width: 1440px;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font-noto), var(--font-notojp), sans-serif;
    line-height: 1.6;
}

a{
    color: rgb(61, 61, 61);
    text-decoration: none;
}

li{
    list-style: none;
}