@use 'src/app/styles/_common.scss' as *;

* {
    box-sizing: border-box;
}

.wrapper{
    overflow: hidden;
    width: 100vw;
    max-width: 1440px;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font-noto), var(--font-notojp), sans-serif;
    line-height: 1.6;
}

a{
    color: rgb(61, 61, 61);
    text-decoration: none;
}

li{
    list-style: none;
}

.slide-in{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: red;
    // background: linear-gradient(326deg, rgba(255, 245, 226, 1) 33%, rgba(255, 255, 255, 1) 76%, rgba(255, 255, 255, 1) 100%);
    transform-origin: bottom;
    transform: scaleY(1);
    z-index: 10000;
}