@use "src/app/styles/_common.scss" as *;
@use "src/app/styles/_mq.scss" as *;

.home__hero {
    width: 100vw;
    z-index: -1;
    @extend .mb-xl;
    position: relative;

    &__text {
        margin: 100px 0;
        position: relative;

        @include mq(md) {
            margin: 150px 0;
        }

        @include mq(lg) {
            margin: 180px 0;
        }

        @include mq(xl) {
            margin: 220px 0;
        }

        & span {
            display: inline-block;
            @extend .font-md;
            font-weight: bold;
            transform: translateX(7%)
        }

        &__headline span{
            @extend .font-xl;
            font-weight: bold;
            line-height: 1.2;
            margin: 0;

        }

        &::before {
            font-weight: 700;
            @extend .font-xxl;
            color: $cGreen;
            display: block;
            width: 250px;
            content: "MEAL FOR SMILE";
            opacity: .1;
            line-height: .9;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-20%, -50%);
            z-index: -1;

            @include mq(md) {
                transform: translate(-120%, -55%);
            }

            @include mq(xl) {
                line-height: .8;
                transform: translate(-220%, -50%);
            }
        }
    }

    &__inner {
        width: 100vw;
        height: 400px;
        margin: 0 calc(50% - 50vw);
        position: relative;

        @include mq(md) {
            height: 650px;
        }

        @include mq(lg) {
            height: 850px;
        }
    }

    &__image {
        width: 85%;
        height: 100%;
        overflow: hidden;
        border-radius: 20px 0 0 20px;
        position: absolute;
        top: 0;
        right: 0;

        @include mq(sm) {
            top: -30px;
        }

        @include mq(lg) {
            top: -100px;
        }

        @include mq(lg) {
            top: -30px;
            height: 70%;
        }

        @include mq(xl) {
            height: 75%;
        }


        &__img {
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-position: center;
            background-size: cover;
            opacity: 0;
            z-index: -1;
            animation: heroSlider 24s linear infinite;

            &:nth-child(1) {
                background-image: url(/images/student/student_hero.jpg);
                animation-delay: -2s;
            }

            &:nth-child(2) {
                background-image: url(/images/business/working.jpg);
                animation-delay: 6s;
            }

            &:nth-child(3) {
                background-image: url(/images/home/meal.jpg);
                animation-delay: 14s;
            }
        }



        @keyframes heroSlider {
            0% {
                opacity: 0;
                transform: scale(1);
            }

            4.16% {
                opacity: 1;
            }

            33.33% {
                opacity: 1;
            }

            41.66% {
                opacity: 0;
                transform: scale(1.2);
            }

            100% {
                opacity: 0;
            }
        }
    }

    & .scroll {
        position: absolute;
        top: 0;
        left: 5%;

        @include mq(sm) {
            left: auto;
            right: 5%;
            top: -50%;
        }
    }

    &__logo {
        width: 70%;
        height: 70%;
        position: absolute;
        bottom: -60%;
        left: 0;
        z-index: -10;
        opacity: .2;

        & img {
            height: 60%;
            object-fit: contain;
            object-position: center;
        }
    }
}