@use 'src/app/styles/_mq.scss' as *;
@use 'src/app/styles/_common.scss' as *;

.business {
    position: relative;
    @extend .mb-xl;

    &::before {
        content: "";
        width: 95vw;
        height: calc(100% + 50px);
        background-color: $cBlue;
        border-radius: 0 20px 20px 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;

        @include mq(sm){
            width: 85vw;
        }
        @include mq(md){
            width: 80vw;
        }
    }


    &__title {
        & h2 {
            @extend .font-xl;
            line-height: 1;
            padding-top: 50px;
            color: white;
        }

        & span {
            @extend .font-md;
            margin-top: 20px;
            display: block;
            white-space: nowrap;
            position: relative;
            padding-left: 100px;
            color: white;

            &::before {
                content: "";
                width: 90px;
                height: 1px;
                background-color: white;
                position: absolute;
                top: 50%;
                left: 5px;
            }
        }
    }

    &__image__container {
        width: 90vw;
        height: 200px;
        margin-left: calc(50% - 50vw);
        @extend .mb-lg;
        position: relative;

        @include mq(sm){
            width: 80vw;
            height: 230px;
        }
        @include mq(md){
            width: 70vw;
            height: 250px;
        }
        @include mq(lg){
            width: 60vw;
            height: 350px;
        }

        & img {
            object-fit: cover;
            object-position: center;
            border-radius: 0 20px 20px 0;
        }
    }

    &__subimage__container {
        width: 50vw;
        height: 150px;
        position: absolute;
        z-index: -9;

        @include mq(lg){
            width: 35vw;
            height: 300px;
        }

        & img {
            object-fit: cover;
            border-radius: 20px 0 0 20px;
        }
    }

    &__text {
        width: 65vw;

        &__headline {
            @extend .font-lg;
            color: white;
            padding-top: 20px;
            margin: 0;
        }

        &__description {
            @extend .font-md;
            line-height: 1.8;
            color: white;
        }
    }
}


/////////////////////////////////////
/// KYUSHOKU
/////////////////////////////////////

.kyushoku {
    & .business__subimage__container {
        top: 38%;
        right: 0;
        z-index: 1;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: .2;
            border-radius: 20px 0 0 20px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    & .business__image__container {
        @extend .mb-lg;
    }
}

/////////////////////////////////////
/// support
/////////////////////////////////////

.support {

    & .business__title{

        @include mq(sm){
            padding-left: 15%;
        }
        @include mq(md){
            padding-left: 25%;
        }
    }
    &::before {
        background-color: $cOrange;
        left: auto;
        right: 0;
        border-radius: 20px 0 0 20px;
    }

    & .business__image__container {
        width: 60vw;
        height: 200px;
        margin-left: auto;
        margin-right: calc(50% - 50vw);

        @include mq(lg){
            width: 60vw;
            height: 350px;
        }

        & img {
            border-radius: 20px 0 0 20px;
        }
    }

    & .business__subimage__container {
        width: 30vw;
        height: 220px;
        top: 260px;
        right: auto;
        left: 0;

        @include mq(lg){
            width: 30vw;
            height: 400px;
            top: 400px;
        }

        & img {
            border-radius: 0 20px 20px 0;

            &::before {
                background-color: transparent;
            }
        }
    }

    & .business__text {
        margin-left: calc(50% - 18vw);
    }
}



/////////////////////////////////////
/// catering
/////////////////////////////////////

.catering {
    margin-bottom: 350px;


    .business__image__container {
        @extend .mb-md;
    }

    & .business__subimage__container {
        bottom: -180px;
        right: 0;

        &::before{
            content: "";
            width: 100%;
            height: 100%;
            background-color: $cBlack;
            opacity: .2;
            border-radius: 20px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
        }
    }
}


/////////////////////////////////////
/// frozen
/////////////////////////////////////

.frozen {
    &::before {
        background-color: $cOrange;
        left: auto;
        right: 0;
        border-radius: 20px 0 0 20px;
    }

    & .business__title{

        @include mq(sm){
            padding-left: 15%;
        }
        @include mq(md){
            padding-left: 25%;
        }
    }

    & .business__image__container {
        width: 60vw;
        height: 200px;
        margin-left: auto;
        margin-right: calc(50% - 50vw);

        @include mq(lg){
            height: 350px;
        }

        & img {
            border-radius: 20px 0 0 20px;
        }
    }

    & .business__subimage__container {
        width: 50vw;
        height: 120px;
        top: 350px;
        right: auto;
        left: 0;
        z-index: 10;

        @include mq(md){
            width: 30vw;
            height: 250px;
        }
        @include mq(lg){
            width: 35vw;
            height: 250px;
            top: 300px;
        }

        & img {
            border-radius: 0 20px 20px 0;

            &::before {
                background-color: transparent;
            }
        }
    }

    & .business__text {
        margin-left: calc(50% - 18vw);

    }
}