@use 'src/app/styles/_mq.scss' as *;
@use 'src/app/styles/_common.scss' as *;


.hero {
    padding-top: 80px;
    @extend .mb-lg;
    &__page__title {
        @extend .font-xl;
    }
    &__page__jatitle {
        display: block;
    }

    &__inner{
        @include mq(xl){
            display: flex;
            flex-direction: row-reverse;
            gap: 30px;
        }
    }

    &__image__container {
        width: 100vw;
        height: 300px;
        position: relative;

        @include mq(sm){
            margin-bottom: 80px;
        }
        @include mq(lg){
            margin-bottom: 120px;
            height: 400px;
        }
        @include mq(xl){
            flex: 5;
            height: 700px;
            margin-right: calc(50% - 50vw);
        }

        & img {
            width: 75% !important;
            height: 100%;
            position: absolute;
            right: 0;
            left: auto !important;
            border-radius: 20px 0 0 20px;
            object-fit: cover;
            object-position: center;

            @include mq(lg){
                width: 90% !important;
            }
            @include mq(xl){
                width: 100% !important;
                right: -5%;
                object-position: left;
            }
        }
    }

    &__contents {
        @include mq(xl){
            flex: 5;
        }

        &__headline {
            @extend .font-lg;
            width: 80%;
            color: $cGreen;

            @include mq(xl){
                width: 100%;
                padding-right: 100px;
            }
        }
        & p {
            @extend .font-md;
            line-height: 1.6;

            @include mq(xl){
                padding-right: 100px;
            }
        }
    }


}