@use "src/app/styles/_mq.scss" as *;
@use "src/app/styles/_common.scss" as *;


.job {
    position: relative;
    height: auto;
    padding-top: 1350px;
    margin-bottom: 350px;

    @include mq(md) {
        margin-bottom: 400px;
    }
    @include mq(lg) {
        margin-bottom: 580px;
    }
    @include mq(xl) {
        margin-bottom: 500px;
    }

    &::before {
        content: "";
        width: 75vw;
        height: 150%;
        background-color: $cBlue;
        position: absolute;
        top: -100px;
        left: 0;
        z-index: -99;

        @include mq(lg) {
            top: -180px;
            height: 180%;
            width: 65vw;
        }
        @include mq(xl) {
            width: 65vw;
            height: 150%;
        }
    }

    & .block {
        width: 10px;
        height: 10px;
        margin: auto;
    }

    & .circleText {
        overflow: visible;
        width: 150px;
        position: absolute;
        top: -35%;
        left: calc(75vw - 75px);
        animation: rotation 18s linear infinite;

        @include mq(md){
            left: calc(75vw - 75px);
            top: -40%;
        }
        @include mq(lg){
            width: 200px;
            left: calc(65vw - 100px);
            top: -50%;
        }
        @include mq(xl){
            left: calc(65vw - 100px);
            top: -45%;
        }

        &__circle {
            fill: none;
        }

        &__text {
            fill: white;
        }

        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }

    & .section__title {
        @extend .font-md;
        position: relative;
        @extend .mb-sm;

        &::before {
            content: "Jobs";
            font-size: 60px;
            font-weight: bold;
            opacity: .2;
            color: $cGreen;
            position: absolute;
            top: -70%;
            left: 0;
            transform: translate(0%, -50%);

            @include mq(sm) {
                font-size: 80px;
            }
            @include mq(md) {
                font-size: 90px;
            }
            @include mq(lg) {
                font-size: 120px;
            }
            @include mq(lg) {
                font-size: 150px;
            }
        }

    }

    & .job__container{
        @include mq(md){
            display: flex;
            flex-wrap: wrap;
            margin-right: calc(50% - 50vw);
        }
        @include mq(xl){
            width: 70vw;
            margin-right: calc(50% - 50vw);
        }

    }

    &__card {
        width: 85vw;
        height: 110px;
        background-position: center;
        background-size: cover;
        margin-left: 12%;
        // padding-top: 10px;
        border-radius: 20px 0 0 0;
        position: relative;
        display: flex;
        gap: 20px;
        overflow: hidden;

        @include mq(md) {
            margin-left: 0;
            width: 50%;
            height: 200px;
        }
        @include mq(lg) {
            height: 250px;
        }
        @include mq(xl) {
            height: 300px;
        }

        &:nth-of-type(2) {
            border-radius: 0 0 0 0;

            @include mq(xl) {
                border-radius: 0 20px 0 0;
            }
        }

        &:nth-of-type(3) {
            border-radius: 0 0 0 0px;

            @include mq(md){
                border-radius: 0 0 0 20px;
            }
        }

        &:nth-of-type(4) {
            border-radius: 0 0 0 20px;

            @include mq(md){
                border-radius: 0 0 0 0px;
            }
            @include mq(xl){
                border-radius: 0 0 20px 0;
            }
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: .3;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -00;
        }


        &__num {
            display: inline-block;
            @extend .font-xl;
            line-height: 1;
            color: white;
            padding-top: 10px;
            position: relative;
            margin: 0 0 0 30px
        }

        &__title {
            z-index: 10;
            padding-top: 10px;

            & span {
                @extend .font-sm;

                color: white;
            }

            & h3 {
                color: white;
                @extend .font-md;
                margin: 0;
            }

        }

        & .button__container {
            top: 65%;
            right: 50px;
            transform: scale(.6);
        }

        &__image{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -5;

            & img{
                object-fit: cover;
                object-position: center;

            }
        }
    }




    &__img__left {
        width: 45vw;
        height: 45vw;
        filter: drop-shadow(5px 5px 3px $cBlack);
        position: absolute;
        bottom: -50%;
        left: 0;

        @include mq(sm) {
            max-width: 220px;
            max-height: 220px;
            bottom: -55%;
        }
        @include mq(md) {
            max-width: 270px;
            max-height: 270px;
            bottom: -70%;
            left: 5%;
        }
        @include mq(lg) {
            max-width: 320px;
            max-height: 320px;
            left: 10%;
        }
        @include mq(xl) {
            width: 26vw;
            height: 26vw;
            bottom: 40%;
            left: auto;
            right: -5%;
        }


        & img {
            object-fit: cover;
        }
    }

    &__img__right {
        width: 25vw;
        height: 25vw;
        filter: drop-shadow(5px 5px 3px $cBlack);
        position: absolute;
        bottom: -30%;
        left: 50%;

        @include mq(sm) {
            max-width: 160px;
            max-height: 160px;
            bottom: -42%;
            left: 49%;
        }
        @include mq(md) {
            bottom: -40%;
            left: 48%;
        }
        @include mq(lg) {
            bottom: -45%;
            left: 45%;
        }
        @include mq(xl) {
            width: 15vw;
            height: 15vw;
            bottom: 6%;
            left: auto;
            right: 8%;
        }

        & img {
            object-fit: cover;
        }
    }
}