@use 'src/app/styles/_mq.scss' as *;
@use 'src/app/styles/_common.scss' as *;


.hero {
    padding-top: 80px;
    @extend .mb-xl;

    &__page__title {
        @extend .font-xl;
    }
    &__page__jatitle {
        display: block;
    }

    &__inner{
        @include mq(xl){
            display: flex;
            flex-direction: row-reverse;
            gap: 30px;
        }
    }

    &__image__container {
        width: 100vw;
        height: 300px;
        position: relative;
        margin-bottom: 60px;

        @include mq(sm){
            margin-bottom: 80px;
        }
        @include mq(lg){
            margin-bottom: 120px;
            height: 400px;
        }
        @include mq(xl){
            flex: 5;
            max-width: 750px;
            height: 700px;
            margin-right: calc(50% - 50vw);
        }

        & img {
            width: 75% !important;
            height: 100%;
            position: absolute;
            right: 0;
            left: auto !important;
            border-radius: 20px 0 0 20px;
            object-fit: cover;
            object-position: center;

            @include mq(lg){
                width: 80% !important;
            }
            @include mq(xl){
                width: 100% !important;
                right: -5%;
                object-position: left;
            }
        }
    }

    &__contents {
        @include mq(xl){
            flex: 5;
        }

        & p {
            width: 60%;
            @extend .font-md;
            line-height: 1.6;

            @include mq(xl){
                width: 90%;
                padding-top: 300px;
            }
        }
    }

    & .circle__container{
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        background-image: url(/images/logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(30%, 50%);
        z-index: -99;

        @include mq(lg){
            width: 70%;
            transform: translate(60%, 50%);
        }
    }

    & .circleText {
        overflow: visible;
        width: 350px;
        position: absolute;
        animation: rotation 60s linear infinite;
        top: 50%;
        left: 50%;

        @include mq(lg){
            width: 550px;
        }


        &__circle {
            fill: none;
        }

        &__text {
            fill: white;
        }

        @keyframes rotation {
            0% {
                transform: translate(-50%, -50%) rotate(0deg);
            }

            100% {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
    }


}