@use 'src/app/styles/_mq.scss' as *;
@use 'src/app/styles/_common.scss' as *;


.people {
    padding-left: 5%;
    position: relative;
    @extend .mb-xl;

    & .section__title {
        @extend .font-md;
        position: relative;
        @extend .mb-sm;

        &::before {
            content: "People";
            font-size: 60px;
            font-weight: bold;
            opacity: .2;
            color: $cGreen;
            position: absolute;
            top: -70%;
            left: 0;
            transform: translate(0%, -50%);

            @include mq(sm) {
                font-size: 80px;
            }
            @include mq(md) {
                font-size: 90px;
            }
            @include mq(lg) {
                font-size: 120px;
            }
            @include mq(lg) {
                font-size: 150px;
            }
        }

    }

    &__card {
        width: 65vw;
        height: 350px;
        margin-top: 50px;
        position: relative;

        @include mq(md) {
            height: 400px;
            max-width: 400px;
        }

        @include mq(lg) {
            max-width: 600px;
            height: 550px;
        }

        @include mq(xl) {
            margin-top: 150px;
            height: 650px;
        }

        &__image{
            position: relative;
            width: 100%;
            height: 100%;

            & img {
                position: absolute;
                object-fit: cover;
                object-position: top;
                border-radius: 20px;
            }
        }


        &__num {
            & span {
                @extend .font-xxl;
                font-weight: bold;
                position: absolute;
                color: $cOrange;
                top: -15%;
                left: 5%;

                @include mq(xl){
                    top: -25%;
                }
            }
        }

        &__contents {
            width: 90%;
            position: absolute;
            bottom: 0;
            left: 5%;

            & h3 {
                @extend .font-lg;
                margin-bottom: 15px;
                line-height: 1.3;
                color: white;
            }

            & p {
                color: white;
                @extend .mb-sm;
            }
        }
    }


}

.swiper-wrapper {
    transition-timing-function: linear !important;
}