@use "src/app/styles/_mq.scss" as *;
@use "src/app/styles/_common.scss" as *;

.home__about {
    @extend .mb-xl;

    @include mq(lg) {
        margin-bottom: 350px;
    }
    @include mq(xl) {
        margin-bottom: 450px;
    }

    & .section__title {
        @extend .font-md;
        position: relative;
        @extend .mb-sm;

        &::before {
            content: "PHILOSOPHY";
            font-size: 60px;
            font-weight: bold;
            opacity: .2;
            color: $cGreen;
            position: absolute;
            top: -70%;
            left: 0;
            transform: translate(0%, -50%);

            @include mq(sm) {
                font-size: 80px;
            }
            @include mq(md) {
                font-size: 90px;
            }
            @include mq(lg) {
                font-size: 120px;
            }
            @include mq(lg) {
                font-size: 150px;
            }
        }

    }
    & .section__title2 {
        @extend .font-md;
        position: relative;
        @extend .mb-sm;

        &::before {
            content: "MISSION";
            font-size: 60px;
            font-weight: bold;
            opacity: .2;
            color: $cGreen;
            position: absolute;
            top: -70%;
            left: 0;
            transform: translate(0%, -50%);

            @include mq(sm) {
                font-size: 80px;
            }
            @include mq(md) {
                font-size: 90px;
            }
            @include mq(lg) {
                font-size: 120px;
            }
            @include mq(lg) {
                font-size: 150px;
            }
        }

    }

    &__inner {
        width: 85%;
        @extend .mb-lg;

        @include mq(lg) {
            width: 60%;
        }

        &__title {
            @extend .font-md;
            margin: 0 0 15px;
        }

        &__content {
            line-height: 1.8;
            @extend .mb-xs;
        }
    }
    &__inner2 {
        width: 85%;

        @include mq(lg) {
            width: 60%;
        }

        &__title {
            @extend .font-md;
            margin: 0 0 15px;
        }

        &__content {
            line-height: 1.8;
            @extend .mb-xs;
        }
    }
}